{:tos {:left_paren {:key :9 :modi [:left_shift] :lazy true}
       :right_paren {:key :0 :modi [:left_shift] :lazy true}}

 :main [{:des "caps lock to delete or hyper key"
         :rules [[:caps_lock :!CTOleft_shift nil {:alone :delete_or_backspace}]]}

        {:des "space cadet shift"
         :rules [
                [:left_shift :left_shift nil {:alone :left_paren}]
                [:right_shift :right_shift nil {:alone :right_paren}]
        ]}

        {:des "space cadet ctrl"
         :rules [
                [:z :left_control nil {:alone :z}]
                [:slash :right_control nil {:alone :slash}]
        ]}

        {:des "space cadet cmd"
         :rules [[:return_or_enter :right_command nil {:alone :return_or_enter}]]}]}

;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
